.seo{
    overflow: hidden;
.hot{
    width:100%;
    line-height: .2rem;
    li{
        float: left;
        padding:.05rem .05rem;
        background:white;
        border-radius: 10px;
        margin:.05rem;
        margin-left:0;
    }
}
}
.red{
    color:red;
    
}